body {
}


.input-addon-select {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 0;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 0 solid #ccc;
    border-radius: 4px;
}
