@{
    ViewBag.Title = "Index";
    ViewBag.Description = "Home Page";
}

<div class="container-fluid" ng-app="ngFormsApp" ng-controller="employeeCtrlr">
    <employee-form />
</div>
@section scripts
    {
    <script src="~/app/Employee/employeeCtrlr.js"></script>
    <script src="~/app/Employee/employeeDir.js"></script>
    <script src="~/app/Employee/employeeSrvc.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}